#ENNONCE{
    width: 100%;
}

#PSEUDO{
    width: 100%;
}

#JS{
    width: 100%;
}

#JQ{
    width: 100%;
}

#PHP{
    width: 100%;
}

#editor {
    margin: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
}