#ENNONCE{
    width: 100%;
}

#PSEUDO{
    width: 100%;
}

#JS{
    width: 100%;
}

#JQ{
    width: 100%;
}

#PHP{
    width: 100%;
}

.myeditor {
    position:relative;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 61vw;
    height: 200px;
}